.catalog-wrap {
  background-color: rgba(#ccc, 0.2);
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  border-right: 1px solid rgba(#ccc, 0.7);
}
li {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 7px 10px;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 14px;
  background-color: rgba(#eee,  0);
  span {
    flex: 1;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    background-color: rgba(#eee,  0.4);
  }
  &.active {
    background-color: rgba(blue, 0.7);
    color: #fff;
  }
  svg {
    margin-right: 5px;
    font-size: 20px;
  }
  
}
.dir {
  .arrow {
    transition: .3s;
    transform: rotateZ(0deg);
    transform-origin: center center;
    height: 20px;
  }
  &.is-unfold .arrow{
    transform: rotateZ(90deg);
  }
}
.dir-md {
  transition: all .2s;
  height: 0px;
  overflow: hidden;
  padding: 0px 10px 0px 25px;
}
.input-wrap {
  margin: 0 10px;
  position: relative;
  .tip {
    position: absolute;
    left: 0;
    right: 0;
    top: 21px;
    background-color: rgba(red, 0.4);
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-align: center;
  }
}
.is-unfold.dir-md {
  padding: 7px 10px 7px 25px;
  height: 20px;
}
input {
  width: 100%;
  box-sizing: border-box;
  &.repeat {
    border: 2px red solid;
  }
}