pre code {
  padding: 10px 20px;
  background-color: black;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  min-width: 440px;
}
:not(pre) > code {
  color: blueviolet;
}
img {
  max-width: 100%;
}