.edit-wrap {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}
textarea {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: none;
  z-index: 50;
  caret-color: #fff;
  color: transparent;
  background: transparent;
  font-size: 16px !important;
  padding: 29px 22px 30px 22px;
  line-height: 24px !important;
  font-family:'Courier New', Courier, monospace !important;
}
pre {
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 23px !important;
  margin: 0 !important;
  padding-top: 22px !important;
  border-radius: 0 !important;
  line-height: 24px !important;
  font-size: 16px !important;
  border-radius: 0px;
  box-sizing: border-box;
}
code {
  width: 100vw;
  box-sizing: border-box;
  word-break: break-all !important;
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
